<a href="https://colab.research.google.com/github/Johar98/Machine-Learning-Algorithm/blob/main/Movie_Review_RNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%tensorflow_version 2.x
from keras.datasets import imdb
from keras.preprocessing import sequence
import tensorflow as tf
import os
import numpy as np

In [2]:
VOCAB_SIZE   = 88584 #something was classified as this, would be the least common word in dataset
MAXLEN = 250
BATCH_SIZE = 64
(train_data , train_labels),(test_data , test_labels) = imdb.load_data(num_words = VOCAB_SIZE)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb.npz
17465344/17464789 [==============================] - 0s 0us/step

<string>:6: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/datasets/imdb.py:159: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  x_train, y_train = np.array(xs[:idx]), np.array(labels[:idx])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/datasets/imdb.py:160: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  x_test, y_test = np.array(xs[idx:]), np.array(labels[idx:])

In [3]:
train_data[0]

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 22665,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 21631,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 19193,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 10311,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 31050,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 12118,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

In [4]:
train_data = sequence.pad_sequences(train_data , MAXLEN)
test_data = sequence.pad_sequences(test_data, MAXLEN)

In [5]:
train_data[1]

array([    0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     1,   194,
        1153,   194,  8255,    78,   228,     5,     6,  1463,  4369,
        5012,   134,    26,     4,   715,     8,   118,  1634,    14,
         394,    20,    13,   119,   954,   189,   102,     5,   207,
         110,  3103,    21,    14,    69,   188,     8,    30,    23,
           7,     4,   249,   126,    93,     4,   114,     9,  2300,
        1523,     5,   647,     4,   116,     9,    35,  8163,     4,
         229,     9,   340,  1322,     4,   118,     9,     4,   130,
        4901,    19,     4,  1002,     5,    89,    29,   952,    46,
          37,     4,   455,     9,    45,    43,    38,  1543,  1905,
         398,     4,  1649,    26,  6853,     5,   163,    11,  3215,
       10156,     4,  1153,     9,   194,   775,     7,  8255, 11596,
         349,  2637,   148,   605, 15358,  8003,    15,   123,   125,
          68, 23141,  6853,    15,   349,   165,  4362,    98,     5,
           4,   228,     9,    43, 36893,  1157,    15,   299,   120,
           5,   120,   174,    11,   220,   175,   136,    50,     9,
        4373,   228,  8255,     5, 25249,   656,   245,  2350,     5,
           4,  9837,   131,   152,   491,    18, 46151,    32,  7464,
        1212,    14,     9,     6,   371,    78,    22,   625,    64,
        1382,     9,     8,   168,   145,    23,     4,  1690,    15,
          16,     4,  1355,     5,    28,     6,    52,   154,   462,
          33,    89,    78,   285,    16,   145,    95], dtype=int32)

In [6]:
model = tf.keras.Sequential([
                             tf.keras.layers.Embedding(VOCAB_SIZE , 32),
                             tf.keras.layers.LSTM(32),
                             tf.keras.layers.Dense(1, activation='sigmoid')
])

In [7]:
model.compile(loss = "binary_crossentropy" , optimizer= 'rmsprop',
              metrics =['acc'])
history = model.fit(train_data , train_labels , epochs= 10 , validation_split=0.2) #20% of training data to actually validate and validate the model

Epoch 1/10
625/625 [==============================] - 57s 89ms/step - loss: 0.5271 - acc: 0.7245 - val_loss: 0.2864 - val_acc: 0.8838
Epoch 2/10
625/625 [==============================] - 55s 88ms/step - loss: 0.2328 - acc: 0.9152 - val_loss: 0.2776 - val_acc: 0.8970
Epoch 3/10
625/625 [==============================] - 55s 88ms/step - loss: 0.1742 - acc: 0.9372 - val_loss: 0.2881 - val_acc: 0.8780
Epoch 4/10
625/625 [==============================] - 55s 88ms/step - loss: 0.1390 - acc: 0.9485 - val_loss: 0.3056 - val_acc: 0.8916
Epoch 5/10
625/625 [==============================] - 55s 89ms/step - loss: 0.1202 - acc: 0.9571 - val_loss: 0.2779 - val_acc: 0.8882
Epoch 6/10
625/625 [==============================] - 55s 88ms/step - loss: 0.1023 - acc: 0.9659 - val_loss: 0.2937 - val_acc: 0.8916
Epoch 7/10
625/625 [==============================] - 56s 89ms/step - loss: 0.0798 - acc: 0.9743 - val_loss: 0.3957 - val_acc: 0.8576
Epoch 8/10
625/625 [==============================] - 55s 88ms/step - loss: 0.0707 - acc: 0.9767 - val_loss: 0.3590 - val_acc: 0.8860
Epoch 9/10
625/625 [==============================] - 55s 88ms/step - loss: 0.0680 - acc: 0.9775 - val_loss: 0.3487 - val_acc: 0.8822
Epoch 10/10
625/625 [==============================] - 55s 88ms/step - loss: 0.0518 - acc: 0.9822 - val_loss: 0.4302 - val_acc: 0.8764

In [8]:
results = model.evaluate(test_data , test_labels)
print(results)

782/782 [==============================] - 15s 19ms/step - loss: 0.5713 - acc: 0.8426
[0.571340024471283, 0.8425599932670593]

In [12]:
word_index = imdb.get_word_index()
def encode_text(text):  #preprocess some line of codes
  tokens = tf.keras.preprocessing.text.text_to_word_sequence(text)
  tokens = [word_index[word] if word in word_index else 0 for word in tokens]
  return sequence.pad_sequences([tokens], MAXLEN)[0]
text = 'that movie was just, amazing'
encoded = encode_text(text)
print(encoded)

[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0  12  17  13  40 477]

In [14]:
reverse_word_index = {value : key for (key , value) in word_index.items()}
def decode_integers(integers):
  PAD = 0  #if we ss 0 , which means there is nothing
  text = " "
  for num in integers:
    if num != PAD:
      text +=reverse_word_index[num] + " "
  return text [:-1]
print(decode_integers(encoded))

 that movie was just amazing

In [17]:
def predict(text):
  encoded_text = encode_text(text)
  pred = np.zeros((1,250))  #blank numpy array
  pred[0] = encoded_text    #first integer/ movies
  result = model.predict(pred)
  print(result[0])

positive_review = "That movie was so awesome! I really loved it and would watch it again because it was amazingly great."
predict(positive_review)
negative_review = "That movie sucked .I hated it and wouldn't watch it again, was one of the worst things I've ever watched"
predict(negative_review)

[0.86108494]
[0.54129344]